<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<form action="/madlib">
		What is your name?<br>
		<input type="text" name="person"><br>
		Give me a noun.<br>
		<input type="text" name="noun"><br>
		What is your favorite color?<br>
		<input type="text" name="color"><br>
		Give me an adjective.<br>
		<input type="text" name="adjective"><br>
		Add any of the following into the story:
		<input type="checkbox" name="randomthing1" value="monkey">monkey<br>
		<input type="checkbox" name="randomthing2" value="plunger">plunger<br>
		<input type="checkbox" name="randomthing3" value="platypus">platypus<br>



		<input type="submit">
	</form>
</body>
</html>